header{
    height: 250px;
    background-color: #f7ca04;
    border-radius: 10px;
}
main{
    min-height: 800px;
}
nav{
    & ul{
        list-style: none;
        padding: 0;
        margin: 0;
        & li{
            display: inline-block;
            &:hover{
                background-color: #e99330;
            }

        }
    }
}
footer{
    height: 60px;
    background-color: #999379;
}
section{
    height: 500px;
    background-color: #f7ca04;
    border-radius: 10px;
}

